NODE_ENV=development
PORT=5001
MONGODB_URI=mongodb://localhost:27017/splitmate
JWT_SECRET=mongodb+srv://shahidtechtics:qyaNMTcdRS69fVSd@cluster0.t5opfrb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
JWT_EXPIRE=7d
FRONTEND_URL=http://localhost:3000 